.student-manage-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* 콘텐츠 간격 */
  align-items: center;
  background-color: #f9f9f9;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.clickable-row:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 */
}
